{{!- 
/**
 * The Header for our theme.
 *
 * Displays all of the <head> section and everything up till <div id="main">
 *
 * @package Independent Publisher
 * @since   Independent Publisher 1.0
 */
}}
<!DOCTYPE html>
<html>
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <!--[if lt IE 9]>
    <script src="{{asset "js/html5.js"}}" type="text/javascript"></script>
    <![endif]-->

    {{!-- This tag outputes SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

{{!- Needs to be refactored and adjusted - BEGIN }}

<?php // Displays full-width featured image on Single Posts if applicable ?>
<?php independent_publisher_full_width_featured_image(); ?>

<?php // Makes the Header Image a small icon floating in the top left corner when Multi Author Mode is enabled ?>
<?php if ( independent_publisher_is_multi_author_mode() && is_single() ) : ?>
    <div class="site-master-logo">
        <?php if ( get_header_image() ) : ?>
            <a href="<?php echo esc_url( home_url( '/' ) ); ?>" title="<?php echo esc_attr( get_bloginfo( 'name', 'display' ) ); ?>" rel="home">
                <img class="no-grav" src="<?php echo esc_url( get_header_image() ); ?>" height="<?php echo absint( get_custom_header()->height ); ?>" width="<?php echo absint( get_custom_header()->width ); ?>" alt="<?php echo esc_attr( get_bloginfo( 'name', 'display' ) ); ?>" />
            </a>
        <?php endif; ?>
    </div>
<?php endif; ?>

{{!- END }}

<body class="{{body_class}}" itemscope="itemscope" itemtype="http://schema.org/WebPage">

    {{!- 
    This needs to be edited as well 
    }}

    <div id="page" class="site">
    <header id="masthead" class="site-header" role="banner" itemscope itemtype="http://schema.org/Header">

        <div class="site-header-info">
            <?php if ( is_single() ) : ?>
                <?php // Show only post author info on Single Pages ?>
                <?php independent_publisher_posted_author_card(); ?>
            <?php else : ?>
                <?php // Show Header Image, Site Title, and Site Tagline on everything except Single Pages ?>
                <?php independent_publisher_site_info(); ?>
            <?php endif; ?>
        </div>

        <?php // Show navigation menu on everything except Single pages, unless Show Primary Nav Menu on Single Pages is enabled ?>
        <?php if ( !is_single() || independent_publisher_show_nav_on_single() ) : ?>
            <nav role="navigation" class="site-navigation main-navigation">
                <a class="screen-reader-text skip-link" href="#content" title="<?php esc_attr_e( 'Skip to content', 'independent-publisher' ); ?>"><?php _e( 'Skip to content', 'independent-publisher' ); ?></a>

                <?php // If this is a Single Post and we have a menu assigned to the "Single Posts Menu", show that ?>
                <?php if ( is_single() && has_nav_menu( 'single' ) ) : ?>
                    <?php wp_nav_menu( array( 'theme_location' => 'single', 'depth' => 1 ) ); ?>
                <?php else : ?>
                    <?php wp_nav_menu( array( 'theme_location' => 'primary', 'depth' => 1 ) ); ?>
                <?php endif; ?>

            </nav><!-- .site-navigation .main-navigation -->
        <?php endif; ?>

        <?php do_action( 'independent_publisher_header_after' ); ?>

        {{!- 
    Until here
    }}

    </header>
    <!-- #masthead .site-header -->

    <div id="main" class="site-main">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

    </div><!-- #main .site-main -->

    {{!-- The footer at the very bottom of the screen --}}
    <footer class="site-footer outer" itemscope="itemscope" itemtype="http://schema.org/Footer" role="contentinfo">
        <div class="site-footer-content inner">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <nav class="site-footer-nav">
                <a href="{{@blog.url}}">Latest Posts</a>
                {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" target="_blank">Facebook</a>{{/if}}
                {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank">Twitter</a>{{/if}}
                <a href="https://ghost.org" target="_blank">Ghost</a>
            </nav>
        </div>
        <!-- .site-info -->
    </footer><!-- #colophon .site-footer -->
</div><!-- #page .hfeed .site -->

{{!-- The big email subscribe modal content --}}
{{#if @labs.subscribers}}
<div id="subscribe" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content">
        {{#if @blog.logo}}
            <img class="subscribe-overlay-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
        {{/if}}
        <h1 class="subscribe-overlay-title">Subscribe to {{@blog.title}}</h1>
        <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
        {{subscribe_form placeholder="youremail@example.com"}}
    </div>
</div>
{{/if}}

{{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>
<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

<script>
    var maxPages = parseInt('{{pagination.pages}}');
</script>
<script src="{{asset "js/infinitescroll.js"}}"></script>

{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
{{{block "scripts"}}}

{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>